.Page {
  background-image: url("/Site/Background/background_zelda.jpg");
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height: calc(100vh);
  padding-bottom: 20px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  .identificationCard {
    background-color: rgba(255, 240, 218, 0.692);
    padding: 5%;
    border: solid rgb(92, 92, 92) 1px;
    border-radius: 1%;
    width: 50%;
  }
}
